@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
/* Typography */
/*  */



body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: "Quicksand", sans-serif;
  line-height: 1.2;
}


/*  */
/* Variables */
/*  */

:root {

/* Desktop Typography */
  --desktop-h1: 48px;
  --desktop-h2: 36px;
  --desktop-h3: 28px;
  --desktop-h4: 22px;
  --desktop-body: 18px;
  --desktop-breadcrumbs: 14px;
  --desktop-navbar-text: 18px;

/* Mobile Typography */
  --mobile-h1: 24px;
  --mobile-h2: 22px;
  --mobile-h3: 20px;
  --mobile-h4: 18px;
  --mobile-body: 16px;
  --mobile-breadcrumbs: 12px;
  --mobile-navbar-text: 16px;

/* Desktop and Mobile Typography */
  --cta-DeskAndMobile: 18px;
  --smallText-DeskAndMobile: 14px;

/* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

/* Colors */
  --color-pink: #FAD6F4;
  --color-lime-green: #D0F4D0;
  --color-light-blue: #C5E1FB;
  --color-dark-green: #006A4E;
  --color-white: #FFFFFF;
  --color-black: #000000;

/* Desktop Spacing */
  --desktop-spacing-sm: 8px;
  --desktop-spacing-md: 16px;
  --desktop-spacing-lg: 32px;
  --desktop-spacing-xl: 64px;

/* Mobile Spacing */
  --mobile-spacing-sm: 8px;
  --mobile-spacing-md: 16px; 
  --mobile-spacing-lg: 24px;
  --mobile-spacing-xl: 32px;

/* Desktop Margins */
  --desktop-margin-md: 144px;
  --desktop-margin-lg: 320px;

/* Mobile Margins */
  --mobile-margin: 20px;
  
}

/*  */
/* Our Styling */
/*  */

nav {
  position: relative;
  background-color: var(--color-pink);
  height: 64px;
  width: 100vw;
  padding-inline: 20px;
  padding-block: 5px;

  display: flex;
  justify-content: space-between;
}

.logo{
  position: relative;
  text-decoration: none;
}
.logoText {
  font-family: quicksand, sans-serif;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}
.logoSVG {
  height: 28px;
  width: 24px;

  position: absolute;
  right: 9%;
  top: 0;
}

.menuButton{
  all: unset;
  cursor: pointer;
}
.fa-solid.fa-bars {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1000;

  display: flex;
  align-items: center;
  
  font-size: 30px;
}

.menuContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  background-color: var(--color-lime-green);
  list-style-type: none;

  font-size: 18px;
  font-weight: 700;
}

.menuContainerActive {
  transform: translate(35%, 0);
}

.menuContainer li a {
  text-decoration: none;
  color: var(--color-black);
}
summary{
  list-style: none;
  display: inline-flex;
  cursor: pointer;
}
summary::after {
  content: "▸";
  padding-left: 5px;
}
details[open] summary::after {
  content: "▾";
}

details li{
  font-size: 16px;
  font-weight: 400;
}

/* Social virksomhed */

.social h1,h2,h3,p {
  margin-bottom: var(--mobile-spacing-sm);
}

.social-pic {
  width: 393px;
  height: 400px;
  margin-bottom: var(--desktop-spacing-lg);
}
