@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
/* Typography */
/*  */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
}
body p{
  font-size: var(--mobile-body);
}

h1, h2, h3, h4 {
  font-family: "Quicksand", sans-serif;
  line-height: 1.2;
}


/*  */
/* Variables */
/*  */

:root {

/* Desktop Typography */
  --desktop-h1: 48px;
  --desktop-h2: 36px;
  --desktop-h3: 28px;
  --desktop-h4: 22px;
  --desktop-body: 18px;
  --desktop-breadcrumbs: 14px;
  --desktop-navbar-text: 18px;

/* Mobile Typography */
  --mobile-h1: 24px;
  --mobile-h2: 22px;
  --mobile-h3: 20px;
  --mobile-h4: 18px;
  --mobile-body: 16px;
  --mobile-breadcrumbs: 12px;
  --mobile-navbar-text: 16px;

/* Desktop and Mobile Typography */
  --cta-DeskAndMobile: 18px;
  --smallText-DeskAndMobile: 14px;

/* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

/* Colors */
  --color-pink: #FAD6F4;
  --color-lime-green: #D0F4D0;
  --color-light-blue: #C5E1FB;
  --color-dark-green: #006A4E;
  --color-white: #FFFFFF;
  --color-black: #000000;

/* Desktop Spacing */
  --desktop-spacing-sm: 8px;
  --desktop-spacing-md: 16px;
  --desktop-spacing-lg: 32px;
  --desktop-spacing-xl: 64px;

/* Mobile Spacing */
  --mobile-spacing-sm: 8px;
  --mobile-spacing-md: 16px; 
  --mobile-spacing-lg: 24px;
  --mobile-spacing-xl: 32px;

/* Desktop Margins */
  --desktop-margin-md: 144px;
  --desktop-margin-lg: 320px;

/* Mobile Margins */
  --mobile-margin: 20px;
  
}

/*  */
/* Our Styling */
/*  */

/* Navbar */
/*  */
nav {
  position: relative;
  background-color: var(--color-pink);
  height: 64px;
  width: 100vw;
  padding-inline: 20px;
  padding-block: 5px;

  display: flex;
  justify-content: space-between;
}

.logo{
  position: relative;
  text-decoration: none;
}
.logoText {
  font-family: quicksand, sans-serif;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}
.logoSVG {
  height: 28px;
  width: 24px;

  position: absolute;
  right: 9%;
  top: 0;
}

.menuButton{
  all: unset;
  cursor: pointer;
  z-index: 1000;
}
.fa-solid.fa-bars {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  right: 20px;

  display: flex;
  align-items: center;
  
  font-size: 30px;
}

.menuContainer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 100vw;
  height: 100vh;

  padding-inline: 20px;
  padding-block: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  transform: translateX(100vw);
  transition: transform 0.3s ease-in-out;
  will-change: transform;

  background-color: var(--color-pink);
  list-style-type: none;

  font-size: var(--mobile-h4);
  font-weight: var(--font-weight-bold);

  border-left: 1px solid black;
}

.menuContainerActive {
  transform: translate(35%, 0);
}

.menuContainer li a {
  text-decoration: none;
  color: var(--color-black);
}
.menuOnActiveBlur{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);  
  width: 100vw;
  height: 100vh;

  opacity: 0;
  transition: 0.3s ease-in-out;
}
.blurActive{
  opacity: 1;
}
summary{
  list-style: none;
  display: inline-flex;
  cursor: pointer;
}
summary::after {
  content: "▸";
  padding-left: 5px;
}
details[open] summary::after {
  content: "▾";
}

details li{
  font-size: var(--mobile-body);
  font-weight: var(--font-weight-regular);
}

/* GENEREL */
button {
  padding: 10px;
  background-color: var(--color-dark-green);
  color: white;
  font-size: var(--cta-DeskAndMobile);
  border-radius: 25px;
  border-color: transparent;
}

/* Forside */
/*  */
.mainForside{
  margin-inline: 20px;
}
.mainForside h1, h2, h3, h4, p, .velkommenImg, .fepForside article,
.menuCardForside{
  margin-bottom: var(--mobile-spacing-md);
}
.heroForside{
  margin-top: var(--mobile-margin);
  margin-bottom: var(--mobile-margin);
}

/* Hero Section */
.heroForside{
  text-align: center;
}
/* Velkommen section */
.velkommenImgContainer{
  display: flex;
  justify-content: center;
}
.velkommenImg{
  width: 60vw;
  height: auto;
  aspect-ratio: 1/1.2;

  border-radius: 10px;
  object-fit: cover;
}
/* Menu Card */
.menuCardForsideImg{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.menuCardForsideContent{
  padding: 20px;
  background-color: var(--color-pink);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*Focus Entry points*/
.fepForside img{
  border-radius: 10px;
}


/* Testimonials */
.testimonials{
  background-image: url(../img/backgroundStemningTestimonials.svg);
  background-size: 100%;
}
.reviewText{
  font-size: var(--mobile-breadcrumbs);
  margin: 0;
}
.reviewRight{
  display: flex;
  justify-content: right;
  position: relative;
}
.reviewBubbleRight{
  max-width: fit-content;
  width: 80vw;
}
.reviewContentRight{
  position: absolute;
  top: 20px;
  left: 85%;
  transform: translateX(-100%);
  width: 60vw;
  }

.reviewLeft{ 
  display: flex;
  justify-content: left;
  position: relative;
}
.reviewBubbleLeft{
  max-width: fit-content;
  width: 70vw;
  transform: scaleX(-1);
}
.reviewContentLeft{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60vw;
}

/* MenuKort */
/*  */

/* Spisekort */
.category {
  margin-bottom: var(--mobile-spacing-sm);
}

.foodItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mobile-spacing-md);
}

.foodTitleTags {
  display: flex;
}

/* Drikke og mad sektion */

.menu-top h1 {
  text-align: center;
  font-size: var(--mobile-h1);
  margin-top: var(--mobile-spacing-lg);
}

.menu-top img {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: 0% 85%;
  margin-top: var(--mobile-spacing-lg);
  margin-bottom: var(--mobile-spacing-lg);
  display: block;

}

.menu-toggle {
  text-align: center;
  margin: 20px;
}

.menu-toggle button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.menu-section {
  margin-top: 30px;
}

.menu-text p {
  margin-bottom: var(--mobile-spacing-sm);
  font-size: var(--mobile-body);
}

/* Hvem vi er */

.container-hvem {
  margin-left: var(--mobile-spacing-sm);
  margin-right: var(--mobile-spacing-sm);
}

.hvem-text h1 {
  font-size: var(--mobile-h1);
  margin-top: var(--mobile-spacing-lg);
  margin-bottom: var(--mobile-spacing-sm);
}

.hvem-text p {
  font-size: var(--mobile-body);
  margin-bottom: var(--mobile-spacing-sm);
}

.hvem-text img {
  font-weight: 400;
}

/* Leverandør */
.container-leve {
  margin-right: var(--mobile-spacing-sm);
  margin-left: var(--mobile-spacing-sm);
}

.lev-h1 {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mobile-spacing-xl);
}

.lev-text h2 {
  margin-bottom: var(--mobile-spacing-md);
}

.lev-text p {
  margin-bottom: var(--mobile-spacing-sm);
}

.leverandør-pic {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--mobile-spacing-xl);
  margin-top: var(--desktop-spacing-lg);
}

.container-lev {
  min-width: 350px;
  max-width: 500px;
  width: auto;
  height: 268px;
  background-color: var(--color-pink);
}

.container-lev {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr 1fr 1fr);
}

.con-h2 {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
  text-align: center;
}

.pic1,
.pic2 {
  margin-top: var(--desktop-spacing-md);
}

.pic3,
.pic4 {
  margin-top: var(--desktop-spacing-lg)
}

.pic1,
.pic2,
.pic3,
.pic4 {
  margin-right: var(--mobile-spacing-md);
  margin-left: var(--mobile-spacing-md);
}

.pic1 {
  grid-column: 1;
  grid-row: 1;

}

.pic2 {
  grid-column: 4;
  grid-row: 1;
}

.pic3 {
  grid-column: 4;
  grid: 1 / 2;
  grid-row: 3;
}

.pic4 {
  grid-column: 1;
  grid-row: 3;
}

.container-lev img {
  width: 114px;
  height: 93px;
}

.mad-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 395;
  height: 206px;
  max-width: 500px;
  background-color: var(--color-pink);
  margin-top: var(--mobile-spacing-xl);
}

.mad-navigation h3,
p {
  margin-bottom: var(--mobile-spacing-sm);
}

.btn {
  background-color: var(--color-dark-green);
  color: var(--color-white);
  padding: 0.6rem 1.5rem;
  border-radius: 1.5rem;
  text-decoration: none;
  display: inline-block;
  height: 39px;
  width: 125px;
}
/* Mad med kærlighed */
  .mad-container {
    margin-right: 20px;
    margin-left: 20px;
  }

  .mad-container p {
    font-size: var(--mobile-body);
    margin-bottom: var(--mobile-spacing-sm);
  }

  .mad-container img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: var(--mobile-spacing-lg);
    margin-bottom: var(--mobile-spacing-xl);

  }

  .mad-text h1 {
    font-size: var(--mobile-h1);
    margin-top: var(--mobile-spacing-xl);
    margin-bottom: var(--mobile-spacing-xl);
  }

  .menu-navigation {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: var(--color-pink);
    border-radius: 10px;
    padding-bottom: var(--mobile-spacing-sm);
  }

  .menu-navigation img {
    display: block;
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .menu-navigation h2 {
    font-size: var(--mobile-h2);
    margin-bottom: var(--mobile-spacing-sm);
  }

  .menu-navigation p,
  h2 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .menu-navigation a {
    text-decoration: none;
    color: var(--color-black);
  }

  .img-center {
    text-align: center;
  }

    /* Arrangmenter */
    .container-arrang {
      margin-left: var(--mobile-spacing-sm);
      margin-right: var(--mobile-spacing-sm);
    }
  
    .container-arrang img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  
    .arrang-text h1 {
      font-size: var(--mobile-h1);
      margin-top: var(--mobile-spacing-lg);
      margin-bottom: var(--mobile-spacing-lg);
    }
  
    .arrang-text p {
      font-size: var(--mobile-body);
      margin-bottom: var(--mobile-spacing-md);
    }
  
    .form-container {
      background-color: var(--color-pink);
      padding: 20px;
      border-radius: 15px;
      max-width: 500px;
    }
  
    form {
      display: flex;
      flex-direction: column;
    }
  
    .formular-container {
      display: flex;
      gap: var(--mobile-spacing-sm);
    }
  
    .formular-navn,
    .formular-efternavn,
    .formular-mail,
    .formular-besked {
      display: flex;
      flex-direction: column;
      margin-bottom: var(--mobile-spacing-md);
    }
  
    .formular-navn,
    .formular-efternavn {
      flex: 1 1 45%;
      /* Gør at de deler pladsen 50/50, men kan også bryde ned */
      min-width: 100px;
    }
  
    input,
    textarea {
      padding: 8px;
      border: 2px solid #000;
      border-radius: 2px;
    }
  
    button {
      padding: 10px;
      background-color: var(--color-dark-green);
      color: white;
      font-size: var(--cta-DeskAndMobile);
      border-radius: 25px;
    }

    /* Firmaaftaler */
.firma-container {
  margin-right: var(--mobile-spacing-sm);
  margin-left: var(--mobile-spacing-sm);
}

.firma-text h1 {
  font-size: var(--mobile-h1);
  margin-bottom: var(--mobile-spacing-lg);
}

.firma-text p {
  font-size: var(--mobile-body);
  margin-bottom: var(--mobile-spacing-sm);
}

.firma-text img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}
.form-container {
  background-color: var(--color-pink);
  padding: 20px;
  border-radius: 15px;
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
}

.formular-container {
  display: flex;
  gap: var(--mobile-spacing-sm);
}

.formular-navn,
.formular-efternavn,
.formular-mail,
.formular-besked {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mobile-spacing-md);
}

.formular-navn,
.formular-efternavn {
  flex: 1 1 45%;
  /* Gør at de deler pladsen 50/50, men kan også bryde ned */
  min-width: 100px;
}

input,
textarea {
  padding: 8px;
  border: 2px solid #000;
  border-radius: 2px;
}

button {
  padding: 10px;
  background-color: var(--color-dark-green);
  color: white;
  font-size: var(--cta-DeskAndMobile);
  border-radius: 25px;
}
/* Firmaaftaler */
.firma-container {
  margin-right: var(--mobile-spacing-sm);
  margin-left: var(--mobile-spacing-sm);
}

.firma-text h1 {
  font-size: var(--mobile-h1);
  margin-bottom: var(--mobile-spacing-lg);
}

.firma-text p {
  font-size: var(--mobile-body);
  margin-bottom: var(--mobile-spacing-sm);
}

.firma-text img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.form-container {
  background-color: var(--color-pink);
  padding: 20px;
  border-radius: 15px;
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
}

.formular-container {
  display: flex;
  gap: var(--mobile-spacing-sm);
}

.formular-navn,
.formular-efternavn,
.formular-mail,
.formular-besked {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mobile-spacing-md);
}

.formular-navn,
.formular-efternavn {
  flex: 1 1 45%;
  /* Gør at de deler pladsen 50/50, men kan også bryde ned */
  min-width: 100px;
}

input,
textarea {
  padding: 8px;
  border: 2px solid #000;
  border-radius: 2px;
}

button {
  padding: 10px;
  background-color: var(--color-dark-green);
  color: white;
  font-size: var(--cta-DeskAndMobile);
  border-radius: 25px;
}
/* Social virksomhed */

.container-social {
  margin-left: var(--mobile-spacing-sm);
  margin-right: var(--mobile-spacing-sm);
}

.social h1,
h2,
h3,
p {
  margin-bottom: var(--mobile-spacing-sm);
}

.social-pic {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--desktop-spacing-lg);
}