@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
/* Typography */
/*  */



body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: "Quicksand", sans-serif;
  line-height: 1.2;
}


/*  */
/* Variables */
/*  */

:root {

/* Desktop Typography */
  --desktop-h1: 48px;
  --desktop-h2: 36px;
  --desktop-h3: 28px;
  --desktop-h4: 22px;
  --desktop-body: 18px;
  --desktop-breadcrumbs: 14px;
  --desktop-navbar-text: 18px;

/* Mobile Typography */
  --mobile-h1: 24px;
  --mobile-h2: 22px;
  --mobile-h3: 20px;
  --mobile-h4: 18px;
  --mobile-body: 16px;
  --mobile-breadcrumbs: 12px;
  --mobile-navbar-text: 16px;

/* Desktop and Mobile Typography */
  --cta-DeskAndMobile: 18px;
  --smallText-DeskAndMobile: 14px;

/* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

/* Colors */
  --color-pink: #FAD6F4;
  --color-lime-green: #D0F4D0;
  --color-light-blue: #C5E1FB;
  --color-dark-green: #006A4E;
  --color-white: #FFFFFF;
  --color-black: #000000;

/* Desktop Spacing */
  --desktop-spacing-sm: 8px;
  --desktop-spacing-md: 16px;
  --desktop-spacing-lg: 32px;
  --desktop-spacing-xl: 64px;

/* Mobile Spacing */
  --mobile-spacing-sm: 8px;
  --mobile-spacing-md: 16px; 
  --mobile-spacing-lg: 24px;
  --mobile-spacing-xl: 32px;

/* Desktop Margins */
  --desktop-margin-md: 144px;
  --desktop-margin-lg: 320px;

/* Mobile Margins */
  --mobile-margin: 20px;
  
}

/*  */
/* Our Styling */
/*  */

nav {
  background-color: var(--color-pink);
  color: var(--color-white);
  height: 64px;
  width: 100vw;
}
.fa-brands{
  font-size: 35px;
}
.fa-solid{
  font-size: 18px;
}
footer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  background-color: var(--color-lime-green);
}

footer img {
  width: 86px;
  height: 48px;
}

.footer-top{
  display: flex;
  justify-content: center;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--mobile-spacing-md);
  margin: 20px;
}
.åbningstider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Kontakt-container {
  display: flex;
  justify-content: center;
  /* Centrer overskriften og placering */
}
.Kontakt, .Socials {
  display: flex;  /* så det centreres inde i siden */
  flex-direction: column;
  align-items: flex-start;
  /* venstrestiller indholdet */
  gap: 10px;
  margin-top: 10px;
}
.Kontakt h2 {
  text-align: left;
}
.icons {
  display: flex;
  align-items: center;
  gap: 5px;
}


